html
{
    height: 100%;
}
body
{
    background-image: linear-gradient(to right, #40c9ff, #e81cff);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
.container
{
    background-color: white;
    width: 30%;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    padding: 66px 0px;
    box-shadow: 10px 10px 20px 0px #a1a1a1
}
.container i
{
    font-size: 80px;
}
.container h1
{
    font-size: 60px;
    font-family: sans-serif;
    text-transform: capitalize;
}
.container p
{
    margin: auto;
    font-size: 13px;
    width: 35%;
    color: #9d9d9d;
    ;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: system-ui;
}
.container form > div
{
    width: 100%;
    margin-top: 8%;
}
.container .email #email
{
    width: 83%;
    padding: 20px 15px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 12px;
    outline: none;
}
.container .password #password
{
    width: 83%;
    padding: 20px 15px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 12px;
    outline: none;
}
.container .password-confirm #password-confirm
{
    width: 83%;
    padding: 20px 15px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 12px;
    outline: none;
}
.container input[type="submit"]
{
    width: 47%;
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 9%;
    font-size: 22px;
    background-image: linear-gradient(to right, #40c9ff, #e81cff);
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-left: 26%;
}
span
{
    width: 100%;
    display: none;
    color: red;
    text-align: start;
    margin: 10px 0px 0px 60px;
    text-transform: capitalize;
}
a
{
    color: #03A9F4;
    display: block;
    padding-top: 6%;
    text-decoration: none;
}