*
{
    box-sizing: border-box;
}
.container
{
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1e1e1;
}
.img-container
{
    width: 100%;
}
img
{
    width: 100%;
}
.buttons
{
    text-align: center;
    display: flex;
    justify-content: center;
}
.buttons button
{
    padding: 10px 20px;
    background-color: #03a9f4;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}
.border
{
    border: 1px solid white !important;
}
