html
{
    scroll-behavior:smooth;
}
body
{
    position: relative;
}
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root
{
    --main-color:#3e3ecf;
}
/**************************************************start header***************************************************************************/
.header
{
    background-color: black;
    color: white;
    padding: 2% 1% 2% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 600;
}
.header .links
{
    width: 50%;
}
.header .links ul
{
    display: flex;
    gap: 4%;
}
.header .links ul li a
{
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
}

.header .cart
{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header .cart a
{
    color: white;
    font-size: 25px;
    position: relative;
    width: 20px;
    display: block;
    width: 29%;
}
.header div ul li a:hover
{
    color: var(--main-color);
}
.header .cart span
{
    display: flex;
    position: absolute;
    top: -25px;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 50px;
    height: 42px;
    align-items: center;
    justify-content: center;
    left: 22px;
}
.header .cart #user
{
    display: flex;
    align-items: center;
    gap: 11%;
    width: 52%;
}
#logoutLink
{
    display: none;
}
/**************************************************end header****************************************************************************/
/**************************************************start slider****************************************************************************/
.slider
{
    width: 100%;
    overflow: hidden;
    height: 712px;
}
.slider img
{
    width: 100%;
    height: 100%;
}
/**************************************************end slider****************************************************************************/
/**************************************************start images****************************************************************************/
.images
{
    padding: 14% 6%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.images div
{
    width: 32%;
    height: 435px;
    margin-top: 3%;
}
.images div img
{
    width: 100%;
    height: 100%;
}
/**************************************************end images****************************************************************************/
span#topArrow
{
    position: fixed;
    bottom: 20%;
    right: 0;
    color: white;
    background-color: black;
    padding: 1% 2%;
    font-size: 60px;
    cursor: pointer;
    display: none;
    border-radius: 50%;
}
/**************************************************start footer****************************************************************************/
.footer
{
    background-color: black;
    color: white;
    padding: 2% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p
{
    font-size: 37px;
}
.footer .socials
{
    margin-right: 4%;
}
.footer ul
{
    display: flex;
    gap: 5%;
}
.footer i
{
    color: white;
    font-size: 30px;
    border: 1px solid white;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 57px;
}
.footer i:hover
{
    border-color:var(--main-color);
    color: var(--main-color);
}
/**************************************************end footer****************************************************************************/